@import './navbar.css';
@import './movies.css';
@import './movie.css';
@import './media.css';
* {
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto', sans-serif;
    display: none;
}

.main {
    padding: 30px 111px;
    background-color: black;
    color: #F7FFEF;
    min-height: 100vh;
    max-height: 100%;
}